/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.rainbow {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button:focus {
  border:transparent;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a:link {
  text-decoration: none;
}

.red {
  color: red;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

#modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  position: absolute;
  background-color: white;
  width: 50%;
  top: 50%;
  left: 50%;
  padding: 10px 15px 15px 15px;
  border: 1px solid silver;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.backToMypage {
  margin-top: 10px;
}